:root {
	--white-bg: rgba(255, 255, 255, 0.6);
	--black-bg: rgba(0, 0, 0, 0.8);
	--black-f: #262626;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	position: relative;
	min-height: 100vh;
	margin: 0;
}

input {
	box-sizing: border-box;
	width: 250px;
	background-color: var(--white-bg);
	color: var(--black-f);
	padding: 8px 16px;
	line-height: 25px;
	font-size: 14px;
	font-weight: 500;
	border: none;
	border-radius: 5px 5px 0 0;
	outline: none;
}

button {
	cursor: pointer;
	height: 50px;
	width: 100px;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	background-color: var(--white-bg);
	color: var(--black-f);
	transition: 0.25s;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

#root {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#bg {
	position: absolute;
	z-index: -1;
	background-image: url("./assets/enterprise_dishwasher.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

#bg:after {
	content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

#answer-display {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 600px;
	height: min-content;
	margin-top: 35px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: var(--white-bg);
	color: var(--black-f);
	border-radius: 5px;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}

.correct-ans-glow {
	box-shadow: 0 0 10px green;
}
.wrong-ans-glow {
	box-shadow: 0 0 10px red;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	text-align: center;
	height: 600px;
	width: 600px;
	margin: 20px auto;
	padding: 15px;
	border-radius: 5px;
	background-color: var(--white-bg);
	color: var(--black-f);
}

#container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#container p {
	font-size: 18px;
	font-weight: bold;
}

#switches {
	display: flex;
	justify-content: space-evenly;
}

.switch-container div {
	font-size: 18px;
	margin-bottom: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.7);
	border-radius: 34px;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
	border-radius: 50%;
  background-color: white;
  transition: .4s;
}
input:checked + .slider {
  background-color: rgba(0, 210, 0, 0.7);
}
input:checked + .slider:before {
  transform: translateX(26px);
}

#progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	background-color: var(--black-bg);
}

#suggestions {
	max-height: 200px;
	width: 250px;
	background-color: var(--white-bg);
	color: var(--black-f);
	line-height: 25px;
	font-size: 14px;
	font-weight: 500;
	overflow-y: auto;
	margin-bottom: 50px;
}

#suggestions div {
	padding: 8px 16px;
}

#suggestions div:nth-child(odd)   {
	background-color: rgba(255, 255, 255, 0.3);
}

#suggestions div:hover, .selected {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5) !important;
	color: white;
}

#score {
	box-sizing: border-box;
	background-color: var(--white-bg);
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 5px 30px;
	border-radius: 5px;
	font-size: 36px;
	font-weight: bold;
}

#score p {
	text-align: center;
	color: var(--black-f);
}

table {
	background-color: var(--white-bg);
	color: var(--black-f);
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 40px;
	border-collapse: collapse;
	width: 500px;
}

tr:nth-child(odd):not(thead tr)   {
	background-color: rgba(255, 255, 255, 0.3);
}

th:nth-child(3), td:nth-child(3) {
	border-left: 2px solid rgba(255, 255, 255, 0.3);
}

th, td {
	padding: 5px 10px;
}

th {
	font-size: 22px;
}

th:nth-child(2) {
	width: 40%;
}

th:nth-child(3) {
	width: 50%;
}

td {
	font-size: 18px;
}

@media only screen and (max-width: 640px) {
	#answer-display {
		width: 90vw;
		font-size: 1.3rem;
	}

	#container {
		height: 90vw;
		width: 90vw;
	}

	table, #score {
		width: 90vw;
	}
}
